<header id="booking" class="masthead d-flex align-items-center">
    <div class="container px-4 px-lg-5 text-center">
        <div class="card text-white bg-primary mb-3">
            <div class="card-body">
            <h3 class="card-title">Your Table is Booked</h3>
            <p class="card-text">We cant wait to see you</p>
            <p class="card-text">Please contact if there is any changes before your reservation</p>
            <a class="btn btn-outline-warning btn-xl mt-2" href="/">Back to Home</a>
            </div>
        </div>

        
    </div>
</header>
